* {
    font-family: monospace;
}

h2 {
   text-align: center;
}

.bike {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.inline {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    padding: 10px;
}

input {
    margin: 5px;
}